<div class="carousel-item active listingModule">
    <img class="d-block w-100 housePicture" src="{{picturePath}}" alt="House Listing">
        <div class="col-lg-12 moreInformation">
            <button type="button" class="btn btn-info matchbtn" data-toggle="collapse" data-target="#demo">More Information</button>
        </div>
        <div id="demo" class="collapse out">
	        <p>sq ft: {{sqft}}</p>
	        <p>Bedrooms: {{bedrooms}}</p>
	        <p>Bathrooms: {{bathrooms}}</p>
		</div>
</div>
