<!-- adoor logo header -->

<script src="../public/js/uploadphoto.js"></script>
<script src="../public/js/createlisting.js"></script>

<div class= "row">
	<div class="col-lg-12" align="center">
		<img class= head src= assets/img/logo.png>			
	</div>
</div>


<div id="newListingMain">
	<div class="row">
		<div class="col-lg-12" align = "center">
			<!-- form header -->
			<h1 id="log">Upload Listing
			</h1>
			<form>
				<!-- address for field -->
				<div class="form-group">
				    <label for="address">Address</label>
				    <input type="email" class="form-control" id="address" aria-describedby="emailHelp" placeholder="123 Main St">
				</div>

				<!-- city form field -->
				<div class="form-group">
				    <label for="city">City</label>
				    <input type="text" class="form-control" id="city" placeholder="Kansas City">
				</div>
				
				<!-- zip code form field -->
				<div class="form-group">
				    <label for="zip">Zip Code</label>
				    <input type="text" class="form-control" id="zipcode" placeholder="12345">
				</div>

				<!-- bedrooms form field -->
				<div class="form-group">
				    <label for="bedrooms">Bedrooms</label>
				    <input type="text" class="form-control" id="bed" placeholder="3">
				</div>

				<!-- bethrooms form field -->
				<div class="form-group">
				    <label for="bathrooms">Bathrooms</label>
				    <input type="text" class="form-control" id="bath" placeholder="2">
				</div>

				<!-- price form field -->
				<div class="form-group">
				   	<label for="price">Price</label>
				    <input type="text" class="form-control" id="bath" placeholder="Price">
				</div>

				<!-- Upload Image form field -->
				<div class="form-group">
				    <label for="listingImage">Image Upload</label>
				    <input type="file" class="form-control-file" id="img" aria-describedby="fileHelp">
				    <small id="fileHelp" class="form-text text-muted">Please upload a picture of your listing</small>
			  </div>
			</form>		
		</div>		
	</div>
	<!-- add listing submit button -->
			<a href="/">
				<button type="submit" onclick="window.location.href='/api/listing'" class="btn btn-primary" id="submitListing">Submit Listing</button>
			</a>
		  	
</div>

<script src="js/createlisting.js"></script>
