<!DOCTYPE html>
<html>
<head>
	<title>Adoor</title>
	<link rel="shortcut icon" href="favicon.png">

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	 <!-- CSS -->

	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../public/assets/css/adoor_style.css">

	<!-- font links -->
	 <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
	 <meta name="viewport" content="width=device-width">

</head>
<body>
  <div class="container-fluid matches">
    <div class="row">
      <div class="col-lg-12">
        <img class="logo" src="../public/assets/img/logo.png">
      </div>
    </div>
    <div class="row displayHouses">
 
      <div class="col-lg-12">
    
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active listingModule">
              <img class="d-block w-100 housePicture" src="../public/assets/img/test1.jpg" alt="First slide">
                  <div class="col-lg-12 moreInformation">
                    <button type="button" class="btn btn-info matchbtn" data-toggle="collapse" data-target="#demo">More Information</button>
                  </div>
               <div id="demo" class="collapse out">
                  <p>sq ft: 6000</p>
                  <p>Bedrooms: 6</p>
                  <p>Bathrooms: 7</p>
               </div>
              </div>
            <div class="carousel-item listingModule">
              <img class="d-block w-100 housePicture" src="../public/assets/img/test2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item listingModule">
              <img class="d-block w-100 housePicture" src="../public/assets/img/test3.jpg" alt="Third slide">
            </div>
          </div>
        </div>
      </div>

    </div>
  <div class="row decisions">
      <div class="col-xs-6 decisionContainer">
        <a class="decisionButton" role="button" data-slide="next">
          <img class="swipeControls" src="../public/assets/img/no-02.png">
        </a>
      </div>
      <div class="col-xs-6 decisionContainer">
        <a class="decisionButton" role="button" data-slide="next">
          <img class="swipeControls" src="../public/assets/img/yes-01.png">
        </a>
      </div>
  </div>
</div>
<script type="text/javascript" src="../public/js/matching.js"></script>
	<!-- <div class= "row">
		<div class= "col-lg-4"></div>
		<div class="col-lg-4" align="center">
			<img class= head src=../assets/images/logo.png />			
		</div>
		<div class="col-lg-4"></div>
	</div>
	<div id="container" id="back">	
		<div class="row">
			<div class="col-lg-4" align="center" >
		  		<div class="row">
		  		<img src="../assets/images/test1.jpg" id=imgmatch>
				</div>
				<br>
				<div class="row">
  					<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" class="matchbtn">Click to see more</button>
  				</div>
 				 <div id="demo" class="collapse out">
    				Address: 2560 Delaware Ave
    				<br>
    				SQ Feet: 6000
    				<br>
    				Bedrooms: 6
    				<br>
    				Bathrooms: 7
    				<br>
    				Price: $29,942,633
  				</div>
  			</div>
 			<div class="col-lg-4" align="center">
		  		<div class="row">
		  		<img src="../assets/images/test2.jpg" id=imgmatch>
				</div>
				<br>
				<div class="row">
  					<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2" class="matchbtn">Click to see more</button>
  				</div>
 				 <div id="demo2" class="collapse out">
    				Address: 2560 Delaware Ave
    				<br>
    				SQ Feet: 6000
    				<br>
    				Bedrooms: 6
    				<br>
    				Bathrooms: 7
    				<br>
    				Price: $29,942,633
  				</div>
  			</div>
			<div class="col-lg-4" align="center">
		  		<div class="row">
		  		<img src="../assets/images/test3.jpg" id=imgmatch>
				</div>
				<br>
				<div class="row">
  					<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3" class="matchbtn">Click to see more</button>
  				</div>
 				 <div id="demo3" class="collapse out">
    				Address: 2560 Delaware Ave
    				<br>
    				SQ Feet: 6000
    				<br>
    				Bedrooms: 6
    				<br>
    				Bathrooms: 7
    				<br>
    				Price: $29,942,633
  				</div>
  			</div>
  		</div>	
  	</div> -->
<script type="text/javascript" src="../public/js/matching.js"></script>
  </body>
