
body, html {
    height: 100%;
    margin-bottom: 0;
}

li {
    list-style-type: none; 
}

.sellbg {
    background-image: url("assets/img/sellbg.png") ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    margin-right: 0;
}

.bg {
    background-image: url("assets/img/door2.png") ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    margin-right: 0;
}

#find-match {
    border-radius: 5px;
    padding: 20px 48px;
    background-color: #C9283E;
    border-color: white;
    text-align: center;
    font-size: 24px;
    margin-top: 100px;
    font-weight: bold;
}

#sell {
    border-radius: 5px;
    padding: 20px 48px;
    background-color: white;
    text-align: center;
    font-size: 24px;
    margin-top: 100px;
}

#buttons {
    margin-top: 35%;
    margin-left: 9%;
    align-items: center;
}

#submit{
    width:100px;
    background-color: #C9283E;
    border-color: #C9283E;
    font-color: white;
    font-weight: bold;

}

#submitListing{
    width:100px;
    background-color: #C9283E;
    border-color: #C9283E;
    font-color: white;
    font-weight: bold;
}

#sign {
    font-weight: bold;
}

#quiz{
    width:100px;
    background-color: #C9283E;
    border-color: #C9283E;
    font-color: white;
    font-weight: bold;
}
 #match {
    width:200px;
    background-color: #C9283E;
    border-color: #C9283E;
    font-color: white;
    font-weight: bold;
 }

#email {
    width: 300px;
}

#pw {
    width: 300px;
}

.head {
    margin-top: 5px; 
    height: 175px;

}

#container {
    margin-top: 50px;
}

#login-box {
    margin-top: 50px;
}

#link {
    font-size: 20px;
}

#log {
    font-weight: bold;
    margin-bottom: 20px; 
}

#demo {
    font-weight: bold;
}

.matchbtn {
    width:200px;
    background-color: #C9283E;
    border-color: #C9283E;
    font-color: white;
    font-weight: bold;
    padding: 20px;
}

#imgmatch {
    height: 350px;
    padding: 20px;
}

.logo {
    max-height: 200px;
}

#home {
    text-align: center;
    background: url(../img/alternate-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 120%;
    width: 100%;
    padding: 10%;
}

#login-page {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #ffcedd;
background-image: linear-gradient(314deg, #ffcedd 0%, #ffffff 100%);

    padding-top: 5%;
}

#demo {
    font-weight: bold;
}

.matchbtn {
    width:200px;
    background-color: #C9283E;
    border-color: #C9283E;
    font-color: white;
    font-weight: bold;
    padding: 20px;
}

#imgmatch {
    height: 350px;
    padding: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    margin-left: 5px;

}

#img-upload{
    width: 100%;
}

#profileCreateStart{
    width: 30%;
    margin:auto;
}

#takeQuizAppear{
    width: 30%;
    margin:auto;
    align-items: center;
    display:none;
}

#quizBanner{
    font-size: 25px;
}

.social-media-login {
    margin: 20px;
}

.social {
    margin: 0px 10px;
}

#newListingMain{
    margin-top:100px;
    width: 30%;
    margin: auto;
    align-items: center;
}

.matches {
    text-align: center;
    margin-top: 20px;
    background-color: #ffcedd;
background-image: linear-gradient(314deg, #ffcedd 0%, #ffffff 100%);
height: 120%
}

.housePicture {
    max-width: 500px;
    display: inline !important;
}

.displayHouses {
    text-align: center;
    margin-top: 5%;

}

.swipeControls {
    width: 150px;
    transition: .5s;
}


.swipeControls:hover {
   transform: scale(1.2); 
}

.decisions {
    margin: 20px 10% 0px 10%;
}

.decisionContainer {
    text-align: center;
}

.listingModule {
    text-align: center;
}

.moreInformation {
    margin: 20px;
}