body, html {
    height: 100%;
    margin-bottom: 0;
    background-image: url("assets/img/bg_all.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sellbg {
    background-image: url("assets/img/sellbg.png") ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    margin-right: 0;
}

.bg {
    background-image: url("assets/img/door2.png") ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    margin-right: 0;
}

#find-match {
    border-radius: 5px;
    padding: 20px 48px;
    background-color: #C9283E;
    text-align: center;
    font-size: 24px;
    margin-top: 100px;
    font-weight: bold;
}

#sell {
    border-radius: 5px;
    padding: 20px 48px;
    background-color: white;
    text-align: center;
    font-size: 24px;
    margin-top: 100px;
}

    #buttons {
        margin-top: 35%;
        margin-left: 9%;
        align-items: center;
    }

#submit{
    width:100px;
    background-color: #C9283E;
    border-color: #C9283E;
    font-color: white;
    font-weight: bold;

}

#sign {
    font-weight: bold;
}

#quiz{
    width:100px;
    background-color: #C9283E;
    border-color: #C9283E;
    font-color: white;
    font-weight: bold;
}
 #match {
    width:200px;
    background-color: #C9283E;
    border-color: #C9283E;
    font-color: white;
    font-weight: bold;
 }

#email {
    width: 300px;
}

#pw {
    width: 300px;
}

.head {
    margin-top: 5px; 
    height: 175px;

}

#container {
    margin-top: 50px;
}

#back {
    background-color: white;
}

#link {
    font-size: 20px;
}

#log {
    font-weight: bold;
    margin-bottom: 20px; 
}

#demo {
    font-weight: bold;
}

.matchbtn {
    width:200px;
    background-color: #C9283E;
    border-color: #C9283E;
    font-color: white;
    font-weight: bold;
    padding: 20px;
}

#imgmatch {
    height: 350px;
    padding: 20px;
}

.logo {
    max-height: 200px;
}

#home {
    text-align: center;
    background: url(..//img/door2.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
